{% extends "baseTemplate.html" %}
{% block content %}

<!-- recent section start --> 
<div class="about_section layout_padding">
   <div class="container">
       <!-- Thanh tìm kiếm -->
       <div class="row justify-content-center mb-4"> <!-- Thêm class mb-4 để tạo khoảng cách dưới cho thanh tìm kiếm -->
         <div class="col-lg-6">
             <form method="get" class="d-flex">
                 <input type="text" name="q" class="form-control me-2" placeholder="Tìm kiếm...">
                 <button type="submit" class="btn btn-primary">Tìm kiếm</button>
             </form>
         </div>
     </div>     
       <!-- Danh sách các bài viết -->
       <div class="row justify-content-center">
           {% for blog in blogs %}
           <div class="col-lg-8 col-sm-12 mb-4">
               <div class="card rounded">
                   <div class="card mb-3">
                     <img src="/media/{{ blog.thumnail }}" class="card-img-top" alt="...">
                     <div class="card-body">
                        <a href="{% url 'blog_detail' blog_id=blog.id %}"> <h5 class="card-title">{{ blog.title }}</h5></a>
                       <p class="card-text"><small class="text-muted">Đăng bởi: {{ blog.user.username }}</small></p>
                     </div>
                   </div>
               </div> 
           </div>
           {% endfor %}
       </div>
       <div class="col-lg-6 text-lg-end">
         <a href="{% url 'create_blog' %}" class="btn btn-success">Tạo bài viết</a>
     </div>
   </div>
</div>


{% endblock %}

