{% extends "baseTemplate.html" %}

{% block content %}
<div class="card rounded">
  <div class="container">
      <h2 class="mb-4">Về chúng tôi - Nhóm G08</h2>
      <div class="row">
          <div class="col-md-6 mb-4">
              <div class="card rounded-0 box-shadow">
                  <div class="card-body">
                      <strong class="d-inline-block mb-2 text-primary">Nguyễn Việt Giang</strong>
                      <h3 class="mb-0">
                          <a class="text-dark" href="#">1910A04</a>
                      </h3>
                  </div>
              </div>
          </div>
          <div class="col-md-6 mb-4">
              <div class="card rounded-0 box-shadow">
                  <div class="card-body">
                      <strong class="d-inline-block mb-2 text-success">Trần Thị Hạ</strong>
                      <h3 class="mb-0">
                          <a class="text-dark" href="#">1910A02</a>
                      </h3>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6 mb-4">
              <div class="card rounded-0 box-shadow">
                  <div class="card-body">
                      <strong class="d-inline-block mb-2 text-success">Nguyễn Đình Việt Anh</strong>
                      <h3 class="mb-0">
                          <a class="text-dark" href="#">1910A05</a>
                      </h3>
                  </div>
              </div>
          </div>
          <div class="col-md-6 mb-4">
              <div class="card rounded-0 box-shadow">
                  <div class="card-body">
                      <strong class="d-inline-block mb-2 text-warning">Phạm Thị Thu Hiền</strong>
                      <h3 class="mb-0">
                          <a class="text-dark" href="#">1910A03</a>
                      </h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}