{% extends "baseTemplate.html" %}

{% block content %}

<div class="card rounded">
    <div class="container">
        <h2 class="mb-4">Về chúng tôi</h2>
        <div class="row">
          <div class="col-md-6">
            <div class="card rounded-0 mb-4 box-shadow">
              <div class="card-body">
                <strong class="d-inline-block mb-2 text-primary">World</strong>
                <h3 class="mb-0">
                  <a class="text-dark" href="#">Featured post</a>
                </h3>
                <div class="mb-1 text-muted">Nov 12</div>
                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <a href="#">Continue reading</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card rounded-0 mb-4 box-shadow">
              <div class="card-body">
                <strong class="d-inline-block mb-2 text-success">Design</strong>
                <h3 class="mb-0">
                  <a class="text-dark" href="#">Post title</a>
                </h3>
                <div class="mb-1 text-muted">Nov 11</div>
                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <a href="#">Continue reading</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card rounded-0 mb-4 box-shadow">
              <div class="card-body">
                <strong class="d-inline-block mb-2 text-info">Technology</strong>
                <h3 class="mb-0">
                  <a class="text-dark" href="#">New post</a>
                </h3>
                <div class="mb-1 text-muted">Nov 10</div>
                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <a href="#">Continue reading</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card rounded-0 mb-4 box-shadow">
              <div class="card-body">
                <strong class="d-inline-block mb-2 text-warning">Business</strong>
                <h3 class="mb-0">
                  <a class="text-dark" href="#">Another post</a>
                </h3>
                <div class="mb-1 text-muted">Nov 9</div>
                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <a href="#">Continue reading</a>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

{% endblock %}